@import '../Utilities/variables';

footer{   
    background-color:#ffffff;
    height: 100vh;
    padding-top: 40px;

    .ig-cta{
        width: 75%;
        @media only screen and (max-width: 991px){
            width: 100%;
        }
    }

    .ig-gallery{

        flex-wrap: wrap;

        img{
            @media only screen and (max-width: 767px){
                width: 100%;
            }
        }

        a{
            @media only screen and (max-width: 767px){
                    width: 40%
                }

        }
        
    }


    .footer-box{
        height: 100%;
        margin-top: 20px;
        padding:10px 0;
        background-color: darkslategray;
        display: flex;
        align-items: center;


            div{

              
            .logo-final{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin: 0 5%;
        
                @media only screen and (min-width: 992px){
                    width: 90px;
                    height: 90px;
                }
            }
    
            .certificacion{
                height: 35px;
                width: 35px;
                border-radius: 30%;
        
                @media only screen and (min-width: 992px){
                    width: 90px;
                    height: 90px;
                }
            }
        }
        

        li{
            list-style: none;
    
            a{
                color: beige !important;
                font-size: $font-size-std/1.8;
                font-family:$brand-font-1;
                text-decoration: none;
    
                @media only screen and (min-width: 992px){
                    /*Media query: for large screens*/
                    font-size: $font-size-std;
                }
            }
        }
        
        p{
            color: beige;
            font-family:$brand-font-1;
        }
    
        .Redes{
            img{
                margin:2%;
                width:25px;
                height: 25px;
                border-radius: 50%;
        
                @media only screen and (min-width: 992px){
                    /*Media query: for large screens*/
                    width: 50px;
                    height: 50px;
                }
            }
        
            a{
                text-decoration: none;
            }
        
            p{
                font-size: $font-size-std/1.75;
                font-family:$brand-font-1;
        
                @media only screen and (min-width: 992px){
                    /*Media query: for large screens*/
                    font-size: $font-size-std;
                }
            
            }
        }

    }
}
 

 

