@import '../Utilities/variables';

footer{   
    background-color:#ffffff;
    height: 100vh;
    padding-top: 40px;

    .ig-cta{
        width: 75%;
        @media only screen and (max-width: 991px){
            /*Media query: for mobile and tablets*/
            width: 100%;
        }
    }

    .ig-gallery{

        flex-wrap: wrap;

        img{
            @media only screen and (max-width: 991px){
            /*Media query: for mobile and tablets*/
                width: 40%;
            }
        }
    }


    .footer-box{
        height: 100%;
        margin-top: 20px;
        padding:10px 0;
        background-color: darkslategray;
        display: flex;
        align-items: center;
        
        .logo-final{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: 0 5%;
    
            @media only screen and (min-width: 992px){
            /*Media query: for large screens*/
                width: 100px;
                height: 100px;
            }
        }

        .certificacion{
            height: 50px;
            width: 50px;
            border-radius: 30%;
    
            @media only screen and (min-width: 992px){
            /*Media query: for large screens*/
                width: 100px;
                height: 100px;
            }
        }

        li{
            list-style: none;
    
            a{
                color: beige !important;
                font-size: $font-size-std/1.75;
                font-family:$brand-font-1;
                text-decoration: none;
    
                @media only screen and (min-width: 992px){
                    /*Media query: for large screens*/
                    font-size: $font-size-std*1.25;
                }
            }
        }
        
        p{
            color: beige;
            font-family:$brand-font-1;
        }
    
        .Redes{
            img{
                margin:2%;
                width:25px;
                height: 25px;
                border-radius: 50%;
        
                @media only screen and (min-width: 992px){
                    /*Media query: for large screens*/
                    width: 50px;
                    height: 50px;
                }
            }
        
            a{
                text-decoration: none;
            }
        
            p{
                font-size: $font-size-std/1.75;
                font-family:$brand-font-1;
        
                @media only screen and (min-width: 992px){
                    /*Media query: for large screens*/
                    font-size: $font-size-std*1.25;
                }
            
            }
        }

    }
}
 

 

