
@import '../Utilities/mixins';
@import '../Utilities/variables';

#Donde-comprar{
    background-color: blanchedalmond;
    min-height: 100vh;
    padding-bottom: 10px;

    h2{
        @include Títulos(beige);
    }

    iframe{
        width: 90%;
    
    }
}