
@import '../Utilities/mixins';
@import '../Utilities/variables';

#Nosotros{
    background-image:url("../Multimedia/Fondo1.jpeg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    min-height: 100vh;
    padding: 50px 0 10px 0;
    

    p{
        font-size: $font-size-std/2;
        font-family: $brand-font-2;
        color: #ffffff;
        background-color: #ff9935;
        opacity: 0.9;
        text-transform: uppercase;
        padding: 10px;
        height: fit-content;
        width: fit-content;
        margin: 1% 5%;

        @media only screen and (min-width: 992px){
        /*Media query: for large screens*/
            font-size: $font-size-std*1.2;
            padding: 25px;
        }

        span{

            @media only screen and (min-width: 992px){
                /*Media query: for large screens*/
                 font-size: $font-size-std*1;
            }
        }
    }

    video{
        width:90%;

        @media only screen and (min-width: 992px){
            /*Media query: for large screens*/
                width: 50%;
        }
    }
}


