
@import '../Utilities/lists';
@import '../Utilities/variables';
@import '../Utilities/mixins';

 
.banner{
    font-family: $brand-font-1;
    font-size: $font-size-std;
    color: beige;
    margin: 55px 0 5px 0;
    padding: 10px 0 5px 50px;

    @media only screen and (min-width: 992px){
        margin: 55px 0 10px 0;
        padding: 20px 0 10px 50px;
    }
}

.banner-1{
    background-color: lighten(nth($colors,1),10%);
}

.banner-2{
    background-color: lighten(nth($colors,2),10%);
}

.banner-3{
    background-color: lighten(nth($colors,3),10%);
}

.banner-4{
    background-color: lighten(nth($colors,4),10%);
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 992px){
    flex-direction: row;
    }


    .small-img img {
        height: 70px;
        width: 70px;
        margin: 10px 0px 10px 10px;
        cursor: pointer;
        display: block;
        opacity: 0.6;

        &:hover{
        opacity: 1;
        }

        @media only screen and (min-width: 768px) and (max-width: 991px){
            height: 110px;
            width: 110px;
        }

        @media only screen and (min-width: 992px){
            height: 110px;
            width: 110px;
        }
    }

    .img-container{

        padding: 10px;

        @media only screen and (min-width: 992px){
        padding: 30px;
        }

        img{
            height: 260px;
            width: 260px;

            @media only screen and (min-width: 320px) and (max-width: 374px){
                height: 210px;
                width: 210px;
            }

            @media only screen and (min-width: 768px) and (max-width: 991px){
                height: 410px;
                width: 410px;
            }

            @media only screen and (min-width: 992px){
                height: 470px;
                width: 470px;
            }
        }
    }
 
    .lista-ingredientes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 10px 30px 30px 0;
        border:double beige;
        padding:10px 15px;

   
        h3{
            font-family: $brand-font-2;
            font-size: $font-size-std*1.15;
            color: beige;

            @media only screen and (min-width: 768px) and (max-width: 991px){
                font-size: $font-size-std*1.25;
            }

            @media only screen and (min-width: 992px){
                font-size: $font-size-std*1.5;
            }
        }

    
        p{
            font-family: $brand-font-2;
            font-size: $font-size-std/1.1;
            color: beige;
                
            @media only screen and (min-width: 768px) and (max-width: 991px){
                font-size: $font-size-std;
            }

            @media only screen and (min-width: 992px){
                font-size: $font-size-std;
            }
        }
    }


    .lista-1{
        background-color: darken(nth($colors,1),5%);
    }

    .lista-2{
        background-color: nth($colors,2 );
    }

    .lista-3{
        background-color: nth($colors,3 );
    }

    .lista-4{
    background-color: nth($colors,4 );
    }
}

.other-products{

    h3{
        @include Títulos(beige);

        @media only screen and (min-width: 992px){
            /*Media query: for large screens*/
            font-size: $font-size-std*1.5;
        }
    }

    div{
        /*Div containing the 3 procuct divs*/
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        @media only screen and (min-width: 992px){
            /*Media query: for large screens*/
            font-size: $font-size-std*1.5;
        }

        div{
            /*Each product divs containing img, p and button*/
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 1s ease;

            img{
            height: 180px;
            @media only screen and (max-width: 375px){
                /*Media query: for S and M screens*/
                height: 100px;
            }
            @media only screen and (min-width: 376px) and (max-width:475px){
                /*Media query: for L screens*/
                height: 140px;
            }

            }

            p{
            color: green;
            font-family: $brand-font-1;   
            font-style: italic;
            font-size: $font-size-std;
            text-align: center;
            margin: 10px;
            @media only screen and (max-width: 375px){
                /*Media query: for S and M screens*/
                font-size: $font-size-std/2;
            }

            @media only screen and (min-width: 376px) and (max-width:475px){
                /*Media query: for L screens*/
                font-size: $font-size-std/1.5;
            }

            }

            button{
            width: fit-content;
            border-radius: 30px;
            font-size: 0.7em;
            padding: 10px;
            font-family: $brand-font-1;
            font-size: $font-size-std;
            border-color: white;

            @media only screen and (max-width: 375px){
                /*Media query: for S and M screens*/
                font-size: $font-size-std/2;
            }

            @media only screen and (min-width: 376px) and (max-width:475px){
                /*Media query: for L screens*/
                font-size: $font-size-std/1.5;
            }
          
            a{
            color: beige;
            text-decoration: none;
            }
            }
        }
    }
}

.card-clásica{
    button{
        background-color: nth($colors,1);
    }
}

.card-gourmet{
    button{
        background-color: nth($colors,2);
    }
}

.card-diabla{
    button{
        background-color: nth($colors,3);
    }
}

.card-turca{
    button{
        background-color: nth($colors,4);
    }
}
 